.container{
      display: flex;
      flex-wrap: wrap;
      /*justify-content: space-between;*/
      gap: 10px;
      background-image: url("../../assets/AdobeStock_274847238.jpeg");
      
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 100vh;
      min-width: 100vh;

}


.containerCards {
    
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin: 50px;
    


}

